.about-us {
  width: 70%;
  min-height: 321px;
  margin: 0 auto;
  padding-top: 42px;
}

.about-us__title {
  color: $orangefont;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 19px;
}

.about-us__text {
  font-weight: 300;
  width: 95%;
  margin: 0;
  margin-bottom: 19px;
  padding: 0;
}

.about-us__transfer-tablet {
  display: none;
}

.about-us__mobile {
  display: inline-block;
}

.about-us__text-advice {
  margin: 0;
  width: 100%;
}

.about-us__header {
  display: none;
}

.about-us__button {
  position: relative;
  min-width: 277px;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  padding-top: 25px;
  padding-bottom: 28px;
  padding-left: 32px;
  padding-right: 50px;
  border-radius: 18px;
  background-color: $orange-background;
}

.about-us__button--closed {
  display: none;
}

.about-us__button-icon {
  fill: $darkfont-color;
  position: absolute;
  top: calc(50% - 7px);
  right: 25px;
  width: 13px;
  height: auto;
}

@media (min-width: $tablet-width) {
  .about-us {
    width: 80%;
    min-width: 621px;
    padding-bottom: 90px;
    padding-top: 37px;
  }

  .about-us__title {
    font-size: 45px;
    line-height: 45px;
    margin-bottom: 41px;
  }

  .about-us__text {
    font-size: 28px;
    line-height: 33px;
    width: 301px;
    margin-bottom: 32px;
    padding: 0;
    margin-left: 2px;

    & br:first-of-type {
      display: none;
    }
  }

  .about-us__transfer-tablet {
    display: inline-block;
  }

  .about-us__text-advice {
    width: 307px;
    font-size: 21px;
    line-height: 25px;
    margin-bottom: 54px;
  }

  .about-us__button--closed {
    display: flex;
  }

  .about-us__button {
    min-width: 276px;
  }

  .about-us__button-icon {
    width: 14px;
    top: calc(50% - 6px);
    right: 32px;
  }
}

@media (min-width: $desktop-width) {
  .about-us {
    width: 82%;
    padding: 0;
    padding-bottom: 163px;
    padding-top: 128px;
  }

  .about-us__header--open {
    display: flex;
  }

  .about-us__title {
    font-size: 45px;
    line-height: 50px;
    margin-bottom: 55px;
  }

  .about-us__text {
    font-size: 28px;
    line-height: 34px;
    width: 645px;
    margin: 0;
    margin-bottom: 38px;
    padding: 0;
  }

  .about-us__transfer-tablet {
    display: none;
  }

  .about-us__text-advice {
    width: 425px;
    font-size: 21px;
    line-height: 24px;
    margin-bottom: 87px;
  }

  .about-us__button {
    width: 0;
    min-width: 275px;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    padding-top: 26px;
    padding-bottom: 29px;
    padding-left: 33px;
    padding-right: 60px;
    border-radius: 23px;
  }

  .about-us__button-icon {
    right: 34px;
    top: calc(50% - 8px);
    width: 12px;
  }
}
