.add-plan {
  width: 100%;
  background-color: $darkgrey;
}

.add-plan__small {
  font-weight: 500;
  line-height: 16px;
  color: hsla(224, 52%, 24%, 0.3);
}

.add-plan__input {
  font-weight: 500;
  font-style: 14.86px;
  line-height: 14px;
}

