.companion {
  width: 85%;
  font-weight: 300;
  padding-top: 68px;
  padding-bottom: 31px;
  box-sizing: border-box;
  margin: 0 auto;
}

.companion__title {
  color: $orangefont;
  font-size: 24px;
  line-height: 1;
  margin: 0;
  margin-left: 24px;
  margin-bottom: 20px;
}

.companion__list {
  margin-bottom: 21px;
}

.companion__text {
  width: 221px;
  margin: 0;
  margin-left: 24px;
  margin-bottom: 20px;

  & br {
    display: none;
  }
}

.companion__text--slogan {
  font-weight: 700;
  margin-bottom: 55px;

  & br {
    display: none;
  }
}

.companion__item {
  border-radius: 11px;
  background-color: $white;
}

.companion__button {
  position: relative;
  min-width: 270px;
  border-radius: 10px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 18px;
  text-align: start;
  padding: 21px;
  padding-right: 40px;
  background-color: $orange-background;
}

.companion__button-icon {
  fill: $darkfont-color;
  position: absolute;
  top: calc(50% - 6px);
  right: 19px;
  width: 13px;
  height: 16px;
}

@media (max-width: $mobile-width-only) {
  .companion__item:not(:last-of-type) {
    margin-bottom: 9px;
  }
}

@media (min-width: $tablet-width) {
  .companion {
    width: 81%;
    padding-top: 136px;
    padding-bottom: 87px;
    box-sizing: border-box;
  }

  .companion__title {
    font-size: 45px;
    line-height: 45px;
    margin: 0;
  }

  .companion__text {
    width: 474px;
    font-size: 28px;
    line-height: 34px;
    margin: 0;
    margin-top: 57px;

    & br {
      display: inline-block;
    }
  }

  .companion__text--slogan {
    width: 255px;
    margin: 0;
    font-size: 21px;
    line-height: 24px;
    font-weight: 700;
    margin-top: 41px;
    margin-bottom: 59px;

    & br {
      display: inline-block;
    }

    & .desktop {
      display: none;
    }
  }

  .companion__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 80px;
  }

  .companion__item {
    margin: 0;
    padding-bottom: 20px;
    border-radius: 20px;
  }

  .companion__button {
    width: 100%;
    font-size: 24px;
    line-height: 24px;
    margin: 0;
    padding-right: 25px;
    padding-left: 32px;
    padding-top: 25px;
    padding-bottom: 30px;
    border-radius: 20px;
    text-align: left;
  }
}


@media (min-width: $desktop-width) {
  .companion {
    width: 92%;
    display: grid;
    grid-template-columns: 1fr 633px;
    grid-template-rows: min-content 55px min-content 42px min-content auto min-content;
    column-gap: 190px;
    padding-top: 126px;
    padding-bottom: 134px;
    padding-left: 71px;
  }

  .companion__title {
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    grid-row: 1/2;
  }

  .companion__text {
    grid-column: 1/2;
    grid-row: 3/4;
    width: fit-content;
    margin: 0;
  }

  .companion__text--slogan {
    grid-row: 5/6;

    & br {
      display: none;
    }

    & .desktop {
      display: inline-block;
    }
  }

  .companion__list {
    grid-column: 2/3;
    grid-row: 1/-1;
    margin: 0;
    margin-top: 8px;
    margin-right: 3px;
    justify-content: space-between;
  }

  .companion__item {
    padding: 0;
  }

  .companion__button {
    width: 280px;
    grid-row: -2/-1;
    grid-column: 1/2;
    padding-right: 50px;
    padding-top: 26px;
    padding-bottom: 28px;
    margin-left: 2px;
  }

  .companion__button-icon {
    right: 30px;
    width: 14px;
    height: 16px;
  }
}

