.companion {
  width: 84%;
  min-width: 270px;
  font-weight: 300;
  padding-top: 66px;
  padding-bottom: 31px;
  box-sizing: border-box;
  margin: 0 auto;
}

.companion__title {
  color: $orangefont;
  font-size: 24px;
  line-height: 1;
  margin: 0;
  margin-left: 24px;
  margin-bottom: 20px;
}

.companion__list {
  margin-bottom: 20px;
}

.companion__text {
  width: 221px;
  margin: 0;
  margin-left: 24px;
  margin-bottom: 20px;

  & br {
    display: none;
  }
}

.companion__text--slogan {
  font-weight: 700;
  margin-bottom: 56px;

  & br {
    display: none;
  }
}

.companion__item {
  border-radius: 11px;
}

.companion__item:not(:last-of-type) {
  margin-bottom: 9px;
}

.companion__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 270px;
  min-height: 61px;
  border-radius: 10px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 18px;
  text-align: start;
  padding-left: 22px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-top: 8px;
  background-color: $orange-background;
}

.companion__button-icon {
  fill: $darkfont-color;
  width: 12px;
  height: 20px;
  margin-left: 10px;
  margin-top: 5px;
}

@media (min-width: $tablet-width) {
  .companion {
    width: 80%;
    min-width: 620px;
    padding-top: 137px;
    padding-bottom: 87px;
    box-sizing: border-box;
  }

  .companion__title {
    font-size: 45px;
    line-height: 45px;
    margin: 0;
  }

  .companion__text {
    width: 474px;
    font-size: 28px;
    line-height: 34px;
    margin: 0;
    margin-top: 57px;

    & br {
      display: inline-block;
    }
  }

  .companion__text--slogan {
    width: 300px;
    margin: 0;
    font-size: 21px;
    line-height: 24px;
    font-weight: 700;
    margin-top: 39px;
    margin-bottom: 61px;

    & br {
      display: none;
    }

    & .desktop {
      display: inline-block;
    }
  }

  .companion__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    margin-bottom: 81px;
  }

  .companion__item {
    margin: 0;
    border-radius: 20px;
  }

  .companion__item:not(:last-of-type) {
    margin: 0;
  }

  .companion__button {
    font-size: 24px;
    line-height: 24px;
    margin: 0;
    padding-right: 32px;
    padding-left: 31px;
    padding-top: 24px;
    padding-bottom: 28px;
    border-radius: 20px;
    text-align: left;
    width: 99%;
    min-width: 616px;
  }

  .companion__button-icon {
    margin-top: 6px;
  }
}


@media (min-width: $desktop-width) {
  .companion {
    width: 91%;
    min-width: 1320px;
    display: grid;
    grid-template-columns: 1fr 631px;
    grid-template-rows: min-content 57px min-content 42px min-content auto min-content;
    column-gap: 190px;
    padding-top: 126px;
    padding-bottom: 134px;
    padding-left: 69px;
  }

  .companion__title {
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    grid-row: 1/2;
  }

  .companion__text {
    grid-column: 1/2;
    grid-row: 3/4;
    width: fit-content;
    margin: 0;
    line-height: 33px;
  }

  .companion__text--slogan {
    grid-row: 5/6;
    line-height: 24px;

    & br {
      display: none;
    }

    & .desktop {
      display: inline-block;
    }
  }

  .companion__list {
    grid-column: 2/3;
    grid-row: 1/-1;
    margin: 0;
    margin-top: 8px;
    justify-content: space-between;
  }

  .companion__item {
    padding: 0;
  }

  .companion__button {
    min-width: 280px;
    width: fit-content;
    grid-row: -2/-1;
    grid-column: 1/2;
    padding-right: 32px;
    padding-top: 26px;
    padding-bottom: 28px;
    margin-left: 2px;
    margin-right: auto;
  }

  .companion__button-icon {
    right: 30px;
    width: 14px;
    height: 16px;
  }
}

