@media (min-width: $desktop-width) {
  .content-wrapper {
    display: grid;
    grid-template-columns: 949px 86px 285px;
    min-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 1px;
    box-sizing: border-box;
  }
}
