.country {
  list-style-type: none;
}

.country__item-alphabet {
  display: flex;
}

.country__link-alphabet {
  padding-left: 20px;
  padding-right: 20px;
}

.country--closed {
  display: none;
}

@media (min-width: $desktop-width) {
  // .country {
  //   margin: 0;
  //   padding-top: 0;
  //   padding-left: 26px;
  //   padding-right: 20px;
  //   padding-bottom: 20px;
  // }
}
