.country {
  list-style-type: none;
}

.country__item-alphabet {
  display: flex;
}

.country__link-alphabet {
  padding-left: 0;
  padding-right: 20px;
}

.country--closed {
  display: none;
}

@media (min-width: $tablet-width) {
  .country__link-alphabet {
    padding-right: 0;
  }
}
