.form-step-second {
  box-sizing: border-box;
  margin-bottom: 27px;
  background-color: transparent;
  border: none;
  margin-right: 0;
}

.form-step-second__field-group {
  display: grid;
  position: relative;
  grid-template-columns: 1fr auto;
  margin-bottom: 22px;
  background-color: $white;
  border: 1px solid hsla(227, 16%, 82%, 1);
  border-radius: 4px;

  &:last-of-type {
    margin-bottom: 0;
  }

  &:hover {
    border-color: hsla(228, 16%, 64%, 1);
  }

  &:focus-visible,
  &:active {
    background-color: hsla(224, 52%, 24%, 1);
  }
}

.form-step-second__field-group:focus-visible .form-step-second__field,
.form-step-second__field-group:active .form-step-second__field {
  color: $white;
  background-color: hsla(224, 52%, 24%, 1);

  &::placeholder {
    color: $white;
  }
}

.form-step-second__field-group:active .form-step-second__button,
.form-step-second__field-group:focus-visible .form-step-second__button {
  &::before,
  &::after {
    height: 1px;
    width: 10px;
    top: 0;
    border-left: 0;
    border-bottom: 0;
    background-color: hsla(230, 4%, 70%, 1);
  }

  &::after {
    transform: rotate(45deg);
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    content: "";
  }
}

.form-step-second__field-button {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  background-color: transparent;
  padding: 0;
  width: 40px;
  height: 100%;
  cursor: pointer;
  z-index: 10;
  outline: none;

  &::before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: transparent;
    border-left: 1px solid hsla(230, 4%, 70%, 1);
    border-bottom: 1px solid hsla(230, 4%, 70%, 1);
    transform: rotate(-45deg);
    position: absolute;
    top: -6px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
  }

  &:hover {
    &::before,
    &::after {
      border-color: hsla(0, 0%, 0%, 0.3);
      opacity: 0.3;
    }
  }

  &:active,
  &:focus-visible {
    &::before,
    &::after {
      border-color: hsla(0, 0%, 0%, 0.05);
      opacity: 0.05;
    }
  }
}

.form-step-second__button {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  background-color: transparent;
  padding: 0;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border-left: none;
  cursor: pointer;
  outline: none;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 10px;
    height: 10px;
    border-left: 1px solid hsla(230, 4%, 70%, 1);
    border-bottom: 1px solid hsla(230, 4%, 70%, 1);
    transform: rotate(-45deg);
  }

  &:hover {
    &::after,
    &::before {
      border-left-color: hsla(0, 0%, 0%, 0.1);
      border-bottom-color: hsla(0, 0%, 0%, 0.1);
    }
  }

  &:active,
  &:focus-visible {
    &::after,
    &::before {
      border-left-color: hsla(0, 0%, 0%, 0.05);
      border-bottom-color: hsla(0, 0%, 0%, 0.05);
    }
  }
}

.form-step-second__field {
  position: relative;
  font-family: "Blogger Sans", "Arial", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.1em;
  color: hsla(224, 52%, 24%, 1);
  height: 42px;
  width: 100%;
  padding: 13px 10px 13px 10px;
  box-sizing: border-box;
  border: none;
  cursor: pointer;
  background-color: transparent;
  text-transform: uppercase;
  display: inline-block;
  appearance: none;
  outline: none;

  &::placeholder {
    display: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: hsla(224, 52%, 24%, 1);
    letter-spacing: 0.09em;
    text-transform: uppercase;
  }

  &:active,
  &:focus {
    outline: none;

    ::placeholder {
      color: $white;
    }
  }
}

.form-step-second__small {
  display: none;
  position: absolute;
  left: -6px;
  top: calc(50% - 4px);
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: $white;
  border: 1px solid hsla(227, 16%, 82%, 1);
  z-index: 20;
}

.form-step-second__img-container {
  position: relative;
}

.form-step-second__flag-container {
  position: relative;
  display: flex;
  height: 42px;
  width: 53px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.form-step-second__lists {
  border: 1px solid hsla(227, 16%, 82%, 1);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.form-step-second__country-wrapper {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 21;
  background-color: $white;
  margin-top: -2px;
}

.form-step-second__alphabet {
  margin: 0;
  padding: 0;
  padding-top: 16px;
  padding-left: 18px;
  padding-bottom: 11px;
  margin-bottom: 1px;
  box-sizing: border-box;
}

.form-step-second__alphabet-item {
  background-color: transparent;
  margin-bottom: 3.9px;
}

.form-step-second__alphabet-link {
  font-family: "Blogger Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: hsla(0, 0%, 27%, 1);
  text-decoration: none;
  width: 100%;
  height: auto;
  display: block;
  outline: none;

  &:hover {
    color: hsla(224, 52%, 24%, 1);
  }

  &:focus-visible,
  &:active {
    opacity: 0.3;
  }
}

.form-step-second__field-wrapper {
  position: relative;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-right: none;
}

.form-step-second__field-group .form-step-second__flag-img {
  display: none;
}

.form-step-second__field-group--active {
  padding-right: 4px;
  position: relative;
  border: none;

  &::after {
    position: absolute;
    background-image: url("../img/form-step/Arrow.svg");
    background-repeat: no-repeat;
    right: 53px;
    top: calc(100% + 5px);
    width: 8px;
    height: 11px;
    content: "";
  }

  &:hover {
    background-color: transparent;
  }
}

.form-step-second__field-group--active .form-step-second__field-country {
  &::after {
    content: "";
    position: absolute;
    top: 5%;
    right: 28px;
    height: 80%;
    width: 10%;
    background-image: linear-gradient(to left, rgb(255, 255, 255), 87%, rgba(255, 255, 255, 0));
  }
}

.form-step-second__field-group--active .form-step-second__flag-img {
  display: block;
}

.form-step-second__field-group--active .form-step-second__country-wrapper {
  display: none;
}

.form-step-second__field-group--active .form-step-second__button {
  width: 21px;
  height: 21px;
  display: block;
  position: absolute;
  top: -27%;
  right: -22%;
  border-radius: 50%;
  background-color: hsla(227, 33%, 95%, 1);
  border: none;
  padding: 0;
  background-image: none;
  outline: none;

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 10px;
    height: 1px;
    transform: rotate(45deg);
    background-color: hsla(230, 4%, 70%, 1);
    border-left: none;
    border-bottom: none;
  }

  &::before {
    transform: rotate(135deg);
  }

  &:hover {
    &::after,
    &::before {
      background-color: hsla(0, 0%, 0%, 0.1);
    }
  }

  &:active,
  &:focus-visible {
    &::after,
    &::before {
      background-color: hsla(0, 0%, 0%, 0.05);
    }
  }
}

.form-step-second__field-group--active .form-step-second__field {
  border: 1px solid hsla(227, 16%, 82%, 1);
  border-radius: 4px;
  padding-right: 27px;

  &::placeholder {
    display: none;
  }

  &:active,
  &:focus {
    background-color: hsla(224, 52%, 24%, 1);
    color: $white;

    &::placeholder {
      color: $white;
    }
  }
}

.form-step-second__field-group--active:active .form-step-second__field,
.form-step-second__field-group--active:focus-visible .form-step-second__field {
  background-color: hsla(224, 52%, 24%, 1);
  color: $white;

  &::placeholder {
    color: $white;
  }
}

.form-step-second__field-group--active:active .form-step-second__field-country,
.form-step-second__field-group--active:focus-visible .form-step-second__field-country {
  &::after {
    display: none;
  }
}

.form-step-second__field-group--active .form-step-second__field-country:focus-within {
  &::after {
    display: none;
  }
}

.form-step-second__field-group--active .form-step-second__small {
  display: block;
  background-color: hsla(224, 52%, 24%, 1);
  border-color: hsla(224, 52%, 24%, 1);
}

.form-step-second__field-group--active .form-step-second__flag-container {
  border-radius: 4px;
  border: 1px solid hsla(227, 16%, 82%, 1);
}

.form-step-second__field-group--active .form-step-second__field-button {
  display: block;
}

.form-step-second__field-group--active-select {
  margin-right: 3px;
  box-sizing: border-box;
  border: none;
}

.form-step-second__field-group--active-select .form-step-second__button {
  outline: none;

  &::before,
  &::after {
    height: 1px;
    width: 10px;
    top: 0;
    border-left: 0;
    border-bottom: 0;
    background-color: hsla(230, 4%, 70%, 1);
  }

  &::after {
    transform: rotate(45deg);
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    content: "";
  }
}

.form-step-second__field-group--active-select .form-step-second__field {
  height: 42px;
  background-color: hsla(224, 52%, 24%, 1);
  padding-left: 17px;
  padding-bottom: 13px;
  letter-spacing: 0.02em;
  color: $white;

  &::placeholder {
    letter-spacing: 0.02em;
    color: $white;
    line-height: 18;
    font-size: 14px;
    font-weight: 500;
  }
}

.form-step-second__field-group--active-select .form-step-second__small {
  display: none;
}

.form-step-second__field-group--active-select .form-step-second__flag-container {
  width: 45px;
  height: 42px;
  background-color: hsla(224, 52%, 24%, 1);
}

.form-step-second__field-group--active-select .form-step-second__img-container {
  display: none;
}

.form-step-second__field-group--active-select .form-step-second__country-wrapper {
  display: block;
  box-shadow: 0 2px 16px hsla(227, 37%, 88%, 0.25);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-sizing: border-box;
}

.form-step-second__field-group--active-select .form-step-second__field-button {
  display: none;
  outline: none;

  &::before,
  &::after {
    width: 20px;
    border: none;
    height: 1px;
    transform: rotate(45deg);
    background-color: hsla(0, 0%, 100%, 0.3);
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
  }

  &::after {
    content: "";
    position: absolute;
    transform: rotate(-45deg);
  }

  &:hover {
    &::after,
    &::before {
      background-color: $white;
    }
  }

  &:focus-visible,
  &:active {
    &::after,
    &::before {
      background-color: hsla(0, 0%, 100%, 0.1);
    }
  }
}

.form-step-second__field-group--active-select .form-step-second__button:hover {
  &::after,
  &::before {
    background-color: $white;
  }
}

.form-step-second__field-group--active-select .form-step-second__button:active {
  &::after,
  &::before {
    background-color: hsla(0, 0%, 100%, 0.1);
  }
}

.form-step-second__field-group--active-select .form-step-second__button:focus-visible {
  &::after,
  &::before {
    background-color: hsla(0, 0%, 100%, 1);
  }
}

.form-step-second__field-group-inactive .form-step-second__button {
  border: none;
  width: 100%;
  height: 100%;
  cursor: default;

  &::after,
  &::before {
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    position: absolute;
    width: 14px;
    height: 1px;
    background-color: hsla(223, 6%, 77%, 1);
    box-sizing: border-box;
  }

  &::before {
    transform: rotate(90deg);
  }
}

.form-step-second__field-group-inactive {
  margin-right: 3px;
  cursor: auto;
  background-color: hsla(227, 33%, 95%, 1);
  display: flex;
  justify-content: space-between;
}

.form-step-second__field-group-inactive .form-step-second__field {
  cursor: default;
  flex-grow: 1;
}

.form-step-second__field-group-inactive:hover .form-step-second__button {
  &::after,
  &::before {
    background-color: hsla(223, 6%, 77%, 1);
  }

  :hover {
    &::after,
    &::before {
      background-color: hsla(223, 6%, 77%, 1);
    }
  }
}

.form-step-second__field-group-inactive .form-step-second__country-wrapper {
  display: none;
}

.form-step-second__field-group-inactive .form-step-second__field-wrapper {
  background-color: hsla(227, 33%, 95%, 1);
}

.form-step-second__field-group-inactive .form-step-second__field-button {
  display: none;
}

.form-step-second__field-group-inactive .form-step-second__small {
  background-color: hsla(227, 33%, 95%, 1);
}

.form-step-second__field-group-inactive .form-step-second__flag-container {
  background-color: hsla(227, 33%, 95%, 1);
  display: block;
  border: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.form-step-second__field-group-inactive .form-step-second__flag-img {
  display: none;
}


@media (min-width: $tablet-width) {
  .form-step-second {
    position: relative;
    padding-top: 42px;
    padding-bottom: 50px;
    padding-right: 0;
    margin-bottom: 0;

    &::before {
      position: absolute;
      width: 1px;
      height: 100%;
      top: 0;
      right: 180px;
      content: "";
      background-image: linear-gradient(hsla(225, 15%, 90%, 1), hsla(0, 0%, 100%, 1));
      z-index: 1;
    }
  }

  .form-step-second__lists {
    padding: 0;
    padding-right: 7px;
    padding-left: 25px;
    box-sizing: border-box;
    border: none;
  }

  .form-step-second__alphabet {
    padding: 0;
    width: max-content;
  }

  .form-step-second__alphabet-item {
    margin-bottom: 10px;
  }

  .form-step-second__alphabet-link {
    font-size: 20px;
    line-height: 1;
  }

  .form-step-second__field-group {
    grid-template-columns: 1fr 181px;
    column-gap: 24px;
    margin-bottom: 15px;
    border: none;

    &:first-of-type {
      margin-bottom: 16px;
    }

    &:nth-of-type(3) {
      margin-bottom: 12px;
    }

    &:active,
    &:focus-visible {
      background-color: transparent;
    }
  }

  .form-step-second__field-group:active .form-step-second__button,
  .form-step-second__field-group:focus-visible .form-step-second__button {
    &::after,
    &::before {
      border: none;
      width: 25px;
      left: 56px;
      height: 1px;
      top: 0;
      bottom: 0;
      margin-top: auto;
      margin-bottom: auto;
      border-left: 0;
      border-bottom: 0;
      background-color: hsla(0, 0%, 0%, 0.05);
    }

    &::after {
      transform: rotate(45deg);
      position: absolute;
      right: 0;
      bottom: 0;
      margin: auto;
      content: "";
    }
  }

  .form-step-second__field-group:active .form-step-second__field,
  .form-step-second__field-group:focus-visible .form-step-second__field {
    background-color: hsla(224, 52%, 24%, 1);
    color: $white;

    ::placeholder {
      color: $white;
    }
  }

  .form-step-second__field-group:active .form-step-second__field-button,
  .form-step-second__field-group:focus-visible .form-step-second__field-button {
    &::after,
    &::before {
      border-left-color: $white;
      border-bottom-color: $white;
    }
  }

  .form-step-second__field {
    border: 1px solid hsla(227, 16%, 82%, 1);
    border-radius: 4px;
    height: 70px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.1em;
    padding-left: 25px;
    padding-right: 60px;

    &::placeholder {
      font-size: 20px;
      font-weight: 500;
      line-height: 1;
      letter-spacing: 0.1em;
    }

    &:hover {
      border-color: hsla(228, 16%, 64%, 1);
    }

    &:active,
    &:focus {
      background-color: hsla(224, 52%, 24%, 1);
      color: $white;

      &::placeholder {
        color: $white;
      }
    }
  }

  .form-step-second__field-button {
    display: block;
    right: 0;
    width: 72px;
  }

  .form-step-second__small {
    display: block;
    width: 12px;
    height: 12px;
    top: calc(50% - 9px);
    left: -7px;
  }

  .form-step-second__button {
    &::after,
    &::before {
      border: none;
      width: 25px;
      left: 56px;
      height: 1px;
      top: 0;
      bottom: 0;
      margin-top: auto;
      margin-bottom: auto;
      border-left: 0;
      border-bottom: 0;
      background-color: hsla(0, 0%, 0%, 0.1);
    }

    &::after {
      transform: rotate(45deg);
      position: absolute;
      right: 0;
      bottom: 0;
      margin: auto;
      content: "";
    }

    &:hover,
    &:focus-visible {
      &::after,
      &::before {
        background-color: hsla(0, 0%, 0%, 0.05);
      }
    }

    &:active {
      &::after,
      &::before {
        background-color: hsla(0, 0%, 0%, 0.02);
      }
    }
  }

  .form-step-second__flag-container {
    width: 100%;
    height: 100%;
    padding-left: 26px;
    border-color: transparent;
  }

  .form-step-second__field-country::after {
    display: none;
  }

  .form-step-second__field-group--active {
    column-gap: 26px;
    padding: 0;

    &::after {
      display: none;
    }
  }

  .form-step-second__field-group--active:active .form-step-second__button,
  .form-step-second__field-group--active:focus-visible .form-step-second__button {
    &::after,
    &::before {
      left: -16px;
    }
  }

  .form-step-second__field-group--active .form-step-second__field {
    &:active,
    &:focus {
      background-color: hsla(224, 52%, 24%, 1);
      color: $white;


      &::placeholder {
        color: $white;
      }
    }
  }

  .form-step-second__field-group--active .form-step-second__flag-container {
    border: none;
  }

  .form-step-second__field-group--active .form-step-second__button {
    position: relative;
    top: 0;
    right: 0;
    background-color: transparent;
    width: auto;
    height: 100%;
    flex-grow: 1;
    border-radius: 0;

    &::after,
    &::before {
      width: 25px;
      height: 1px;
      border: none;
      bottom: 0;
      top: -2px;
      left: -16px;
      background-color: hsla(0, 0%, 0%, 0.1);
    }

    &:hover,
    &:focus-visible {
      &::after,
      &::before {
        background-color: hsla(0, 0%, 0%, 0.05);
      }
    }

    &:active {
      &::after,
      &::before {
        background-color: hsla(0, 0%, 0%, 0.02);
      }
    }
  }

  .form-step-second__field-group--active-select {
    margin-right: 0;
    padding-right: 3px;
  }

  .form-step-second__field-group--active-select .form-step-second__field {
    height: 70px;
    background-color: hsla(224, 52%, 24%, 1);
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    padding-left: 23px;
    padding-bottom: 14px;
    letter-spacing: 0.1em;
    font-size: 20px;
    border-color: hsla(224, 52%, 24%, 1);

    &::placeholder {
      letter-spacing: 0.1em;
      font-size: inherit;
    }

    &:hover {
      border-color: hsla(224, 52%, 24%, 1);
    }
  }

  .form-step-second__field-group--active-select .form-step-second__field:hover + .form-step-second__field-button {
    &::after,
    &::before {
      background-color: $white;
    }
  }

  .form-step-second__field-group--active-select .form-step-second__field:active + .form-step-second__field-button,
  .form-step-second__field-group--active-select .form-step-second__field:focus + .form-step-second__field-button {
    &::after,
    &::before {
      opacity: 0.6;
    }
  }

  .form-step-second__field-group--active-select .form-step-second__field-button {
    display: block;
    width: 68px;
  }

  .form-step-second__field-group--active-select .form-step-second__field-button:hover,
  .form-step-second__field-group--active-select .form-step-second__field-button:focus-visible {
    &::after,
    &::before {
      background-color: $white;
      opacity: 1;
    }
  }

  .form-step-second__field-group--active-select .form-step-second__field-button:active {
    &::after,
    &::before ::before {
      background-color: hsla(0, 0%, 100%, 0.1);
    }
  }

  .form-step-second__field-group--active-select .form-step-second__flag-container {
    height: 100%;
    width: 100%;
    background-color: transparent;
  }

  .form-step-second__field-group--active-select .form-step-second__country-wrapper {
    display: flex;
    box-sizing: border-box;
    padding-top: 34px;
    padding-left: 26px;
    padding-right: 23px;
    padding-bottom: 32px;
  }

  .form-step-second__field-group--active-select .form-step-second__small {
    left: -4px;
    display: block;
  }

  .form-step-second__field-group--active-select .form-step-second__button {
    &::after,
    &::before {
      width: 25px;
      left: 56px;
      background-color: hsla(0, 0%, 0%, 0.1);
    }

    &:hover,
    &:focus-visible {
      &::after,
      &::before {
        background-color: hsla(0, 0%, 0%, 0.05);
      }
    }

    &:active {
      &::after,
      &::before {
        background-color: hsla(0, 0%, 0%, 0.02);
      }
    }
  }

  .form-step-second__field-group-inactive {
    display: grid;
    grid-template-columns: 1fr 181px;
    column-gap: 24px;
    background-color: transparent;
    border: none;
  }

  .form-step-second__field-group-inactive .form-step-second__field-button {
    display: block;
    cursor: auto;

    &::before,
    &::after {
      border: none;
      height: 2px;
      width: 20px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      background-color: hsla(0, 0%, 0%, 0.1);
      transform: rotate(0deg);
    }

    &::after {
      content: "";
      position: absolute;
      transform: rotate(90deg);
    }
  }

  .form-step-second__field-group-inactive .form-step-second__flag-container {
    background-color: transparent;
  }

  .form-step-second__field-group-inactive .form-step-second__button {
    display: none;
  }

  .form-step-second__field-group-inactive .form-step-second__field-wrapper {
    grid-column: 1/2;
    background-color: hsla(226, 36%, 91%, 1);
    border-radius: 4px;
    width: 100%;
  }

  .form-step-second__field-group-inactive .form-step-second__field {
    border-color: hsla(226, 36%, 91%, 1);
  }

  .form-step-second__field-group-inactive .form-step-second__small {
    display: block;
    left: -4px;
  }
}

@media (min-width: $desktop-width) {
  .form-step-second {
    padding-top: 63px;

    &::before {
      display: none;
    }
  }

  .form-step-second__field-group {
    grid-template-columns: 1fr 227px;
    column-gap: 42px;

    &:first-of-type {
      margin-bottom: 15px;
    }
  }


  .form-step-second__field-group:nth-of-type(3) {
    margin-bottom: 14px;
  }

  .form-step-second__field-wrapper {
    margin-right: 0;
  }

  .form-step-second__field-country {
    &::after {
      display: none;
    }
  }

  .form-step-second__alphabet {
    padding: 0;
    margin: 0;
  }

  .form-step-second__alphabet-item {
    margin-bottom: 0;
    text-align: left;
  }

  .form-step-second__alphabet-link {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
  }

  .form-step-second__field-button {
    width: 71px;

    &::before {
      width: 12px;
      height: 12px;
      right: 2px;
    }
  }

  .form-step-second__field {
    height: 70px;
    padding-right: 120px;
  }

  .form-step-second__lists {
    grid-column: 2/3;
    padding: 0;
    padding-top: 12px;
    padding-left: 28px;
  }

  .form-step-second__flag-container {
    padding-left: 40px;
  }


  .form-step-second__small {
    top: calc(50% - 9px);
  }

  .form-step-second__field--hover {
    padding-bottom: 16px;
  }

  .form-step-second__field-group--active {
    column-gap: 45px;
  }

  .form-step-second__field-group--active .form-step-second__button {
    &::after,
    &::before {
      left: calc(100% - 33px);
    }
  }

  .form-step-second__button {
    &::after,
    &::before {
      left: calc(100% - 35px);
    }
  }

  .form-step-second__field-group--active-select .form-step-second__field {
    padding-bottom: 16px;
  }

  .form-step-second__field-group--active-select .form-step-second__field-button {
    display: block;

    &::before,
    &::after {
      width: 26px;
      right: 8px;
    }
  }


  .form-step-second__field-group--active-select .form-step-second__country-wrapper {
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 1fr 221px;
    padding-top: 18px;
    padding-left: 11px;
    padding-bottom: 20px;
    margin-top: 0;
    box-sizing: border-box;
    box-shadow: 0 8px 16px rgba(54, 80, 148, 0.18);

    &::after {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 3px;
      width: 1px;
      background-color: hsla(229, 24%, 87%, 1);
      content: "";
      grid-column: 2/3;
    }
  }

  .form-step-second__field-group--active-select .form-step-second__button {
    &::before,
    &::after {
      left: calc(100% - 33px);
    }
  }

  .form-step-second__field-group-inactive {
    background-color: transparent;
    grid-template-columns: 1fr 227px;
    column-gap: 42px;
  }

  .form-step-second__field-group-inactive .form-step-second__small {
    left: -4px;
  }

  .form-step-second__field-group-inactive .form-step-second__field-button {
    display: block;
  }

  .form-step-second__field-group-inactive .form-step-second__flag-container {
    display: block;
    background-color: transparent;
  }
}
