.interested {
  width: 85%;
  padding-top: 70px;
  padding-bottom: 30px;
  margin: 0 auto;
}

.interested__title {
  color: $orangefont;
  font-size: 24px;
  line-height: 1;
  margin: 0;
  margin-bottom: 19px;
  text-align: center;
}

.interested__desc {
  width: 220px;
  font-weight: 300;
  margin: 0 auto;
  text-align: center;
}

.interested__link {
  position: relative;
  color: hsla(47, 100%, 65%, 1);
  text-decoration: none;
}

.interested__link--login {
  &::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: hsla(47, 100%, 65%, 1);
  }

  &:hover,
  &:focus {
    color: hsla(27, 100%, 59%, 1);

    &::after {
      background-color: hsla(27, 100%, 59%, 1);
    }
  }

  &:active {
    opacity: 0.3;

    &::after {
      opacity: 0.3;
    }
  }
}

.interested__form {
  display: flex;
  justify-content: center;
  margin-top: 29px;
  margin-bottom: 29px;
}

.interested__input {
  height: 62px;
  flex-grow: 1;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 22px 22px 22px 25px;

  &::placeholder {
    font-size: 18px;
    line-height: 18px;
    color: hsla(0, 0%, 27%, 0.3);
  }
}

.interested__button {
  width: 60px;
  height: 62px;
  margin-left: -15px;
  border-radius: 10px;
  background-color: $orange-background;
}

.interested__button-small {
  display: none;
  font-size: 24px;
  line-height: 1;
}

.interested__link-conteiner {
  margin-top: 17px;
  display: flex;
  flex-direction: column;
}

.interested__link-contacts {
  text-transform: uppercase;
  display: flex;
  align-items: center;

  &:hover,
  &:focus {
    color: hsla(41, 100%, 59%, 1);

    & .interested__icon {
      fill: hsla(41, 100%, 59%, 1);
    }
  }

  &:active {
    color: hsla(41, 100%, 59%, 0.3);

    & .interested__icon {
      fill: hsla(41, 100%, 59%, 0.3);
    }
  }
}

.interested__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  margin-right: 16px;
  border-radius: 50%;
  background-color: hsla(228, 50%, 14%, 1);
}

.interested__icon {
  fill: $orange-background;
}

@media (min-width: $tablet-width) {
  .interested {
    width: 80%;
    padding-top: 69px;
    padding-bottom: 60px;
  }

  .interested__title {
    font-size: 45px;
    line-height: 45px;
    margin-bottom: 61px;
  }

  .interested__desc {
    width: 100%;
    font-size: 28px;
    line-height: 32px;

    & br {
      display: none;
    }
  }

  .interested__form {
    margin-top: 36px;
    margin-bottom: 29px;
  }

  .interested__input {
    flex-grow: 1;
    height: 80px;
    padding-left: 34px;
    padding-top: 25px;
    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;

    &::placeholder {
      font-size: 24px;
      line-height: 24px;
    }
  }

  .interested__button {
    height: 80px;
    width: 80px;
    border-radius: 0;
    border-top-right-radius: 23px;
    border-bottom-right-radius: 23px;
  }

  .interested__link-conteiner {
    margin-top: 13px;
  }

  .interested__link {
    font-size: 28px;
    line-height: 28px;
  }

  .interested__img {
    width: 68px;
    height: 68px;
    margin-right: 21px;
  }

  .interested__icon {
    transform: scale(1.5);
  }
}

@media (min-width: $desktop-width) {
  .interested {
    width: 81.5%;
    padding-top: 104px;
    padding-bottom: 103px;
  }

  .interested__title {
    margin-bottom: 58px;
  }

  .interested__desc--shift {
    padding-left: 14px;
  }

  .interested__form {
    margin-top: 61px;
    margin-bottom: 68px;
  }

  .interested__button {
    width: 330px;
  }

  .interested__button-small {
    display: block;
  }

  .interested__link-conteiner {
    flex-direction: row;
    margin-top: 44px;
  }

  .interested__link {
    flex-grow: 1;
  }

  .interested__link-phone {
    margin-right: 110px;
    justify-content: flex-end;
  }

  .interested__img {
    width: 90px;
    height: 90px;
    margin-right: 29px;
  }

  .interested__icon {
    transform: scale(2);
  }
}

