.level-icon {
  stroke: hsla(27, 100%, 59%, 1);
  fill: transparent;
  position: absolute;
  top: -2px;
  right: -1px;
  width: 100%;
  height: 100%;
}

.level-icon__direction {
  width: 100px;
  height: 100px;
  right: -3px;
}

.level-icon__card {
  width: 45px;
  height: 45px;
  top: 0;
  right: 0;
}

@media (min-width: $tablet-width) {
  .level-icon {
    width: 108%;
    height: 108%;
    left: -2px;
    top: -2px;
  }
}

@media (min-width: $desktop-width) {
  .level-icon {
    left: -1px;
    width: 105%;
    height: 105%;
  }

  .level-icon__direction {
    top: 0;
  }

  .level-icon__card {
    top: 0;
  }
}
