.level-icon {
  stroke: #FF8D30;
  fill: transparent;
  position: absolute;
  top: -3px;
  left: -2px;
  width: 104%;
  height: 104%;
}

@media (min-width: $tablet-width) {
  .level-icon {
    width: 108%;
    height: 108%;
    left: -2px;
    top: -2px;
  }
}
