.list-way {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  box-sizing: border-box;
  margin: 0;
  border: none;
  outline: none;

  &:hover {
    filter: drop-shadow(0 2px 6px rgba(22, 28, 53, 0.17));
  }

  &:active,
  &:focus-visible {
    background-color: hsla(228, 35%, 92%, 1);
    filter: none;
  }
}

.list-way:hover .list-way__icon {
  opacity: 0.7;
}

.list-way:active .list-way__icon,
.list-way:focus-visible .list-way__icon {
  opacity: 0.3;
}

.list-way__icon {
  fill: hsla(224, 52%, 24%, 0.15);
  height: auto;
}

.list-way__icon--current {
  fill: hsla(224, 52%, 24%, 1);
}

.list-way--current .list-way__icon {
  fill: hsla(224, 52%, 24%, 1);
}

.list-way__icon-card--current {
  fill: hsla(224, 52%, 24%, 1);
}

.list-way__direction {
  background-color: $white;
}

@media (min-width: $tablet-width) {
  .list-way {
    width: 43px;
    height: 43px;
  }
}

@media (min-width: $desktop-width) {
  .list-way {
    width: auto;
  }
}
