.page-header {
  width: 100%;
  box-sizing: border-box;
  background-color: $darkgrey;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 16px;
}

.page-header--direction {
  background-color: hsla(229, 48%, 18%, 1);
}

.page-header__toggle {
  position: relative;
  width: 57px;
  height: 57px;
  padding: 0;
  border: 1px solid transparent;
  background-color: inherit;
  cursor: pointer;
  outline: none;

  & + .page-header__nav {
    display: none;
    background-color: $white;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 28%;
    top: 45%;
    width: 25px;
    height: 3px;
    background-color: hsla(0, 0%, 100%, 1);
    border-radius: 1.5px;
  }

  &::after {
    top: 65%;
  }

  &:hover,
  &:focus,
  &:active {
    & + .page-header__nav {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 100%;
    }

    &::after,
    &::before {
      top: 50%;
      transform: rotate(-45deg);
    }
  }

  &:hover,
  &:focus,
  &:active {
    &::before {
      transform: rotate(45deg);
    }
  }
}

.page-header__logo {
  padding: 15px;
}

.page-header__logo-icon {
  fill: hsla(0, 0%, 100%, 1);
}

.page-header__social {
  display: none;
}

.page-header__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 10px;
  list-style-type: none;
}

.pade-header__list--row {
  flex-direction: row;
}

@media (min-width: $tablet-width) {
  .page-header {
    padding: 40px;
    padding-bottom: 35px;
    background-color: $darkfont-color;
  }

  .page-header__toggle {
    margin-left: 52px;
  }

  .page-header__logo {
    padding-left: 63px;
    background-image: url("../../img/page-header/logo_full.svg");
    background-repeat: no-repeat;
  }

  .page-header__logo-icon {
    transform: scale(1.11);
  }

  .page-header__toggle {
    &::before,
    &::after {
      width: 25px;
      height: 3px;
      border-radius: 1.5px;
    }
  }

  .page-header__social {
    display: flex;
  }

  .page-header__item--closed {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    padding-top: 47px;
    padding-bottom: 0;
    padding-left: 60px;
    padding-right: 60px;
    background-color: transparent;
  }

  .page-header--direction {
    background-color: hsla(229, 46%, 18%, 1);
  }

  .page-header__item--closed {
    display: flex;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__nav {
    position: relative;
    display: flex;
    flex-grow: 1;
    padding-left: 95px;
    background-color: inherit;

    &::before {
      position: absolute;
      left: -11px;
      top: 50%;
      content: "";
      width: 60px;
      height: 2px;
      background-color: $white;
    }
  }

  .page-header__list {
    display: flex;
    flex-direction: row;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: $white;
    padding: 0;
  }

  .page-header__list--closed {
    display: none;
  }

  .page-header__logo {
    background-image: url("../../img/page-header/logo-desctop.svg");
    padding-left: 88px;
  }

  .page-header__logo-icon {
    transform: scale(1.34);
  }
}
