.page-header {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 23px;
}

.page-header--closed {
  background-color: $darkgrey;
}

.page-header--ineer {
  background-color: $darkfont-color;
}

.page-header__logo {
  width: auto;
  margin-left: -27px;
  margin-top: 2px;
}

.page-header--opened {
  background-color: $white;

  & .logo__pognaly {
    fill: hsla(229, 48%, 18%, 1);
  }

  & .page-header__toggle {
    &::after,
    &::before {
      background-color: hsla(0, 0%, 80%, 1);
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      transform: rotate(-45deg);
    }

    &::before {
      transform: rotate(45deg);
    }
  }
}

.page-header__toggle {
  position: relative;
  width: 76px;
  height: 50px;
  padding: 0;
  border: 1px solid transparent;
  background-color: inherit;
  cursor: pointer;
  outline: none;

  &::before,
  &::after {
    content: "";
    position: absolute;
    right: calc(50% - 12px);
    top: calc(50% - 3px);
    width: 25px;
    height: 3px;
    background-color: hsla(0, 0%, 100%, 1);
    border-radius: 1.5px;
  }

  &::after {
    top: calc(50% + 5px);
  }
}

.page-header--direction {
  background-color: hsla(229, 48%, 18%, 1);
}

.page-header__logo {
  display: flex;
}

.page-header__social {
  display: none;
}

.page-header__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pade-header__list--row {
  flex-direction: row;
}

@media (min-width: $tablet-width) {
  .page-header {
    padding-top: 39px;
    padding-bottom: 41px;
    padding-right: 40px;
    padding-left: 33px;
  }

  .page-header__logo {
    margin: 0;
    margin-left: 7px;
    margin-top: 2px;
  }

  .page-header--closed {
    background-color: hsla(229, 48%, 18%, 1);
  }

  .page-header__list {
    align-items: flex-start;
  }

  .page-header__toggle {
    margin-right: 18px;

    &::before,
    &::after {
      width: 25px;
      height: 3px;
      border-radius: 1.5px;
    }
  }

  .page-header__social {
    display: flex;
  }

  .page-header__item--closed {
    display: none;
  }

  .page-header--opened {
    background-color: $white;

    & .social__link--authentication {
      letter-spacing: -0.02em;
      padding-left: 3px;
      padding-right: 5px;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    padding-top: 49px;
    padding-bottom: 9px;
    padding-left: 60px;
    padding-right: 60px;
    background-color: transparent;
  }

  .page-header__logo {
    margin: 0;
  }

  .page-header--closed {
    background-color: $darkgrey;

    &.page-header--ineer {
      background-color: $darkfont-color;
      padding-top: 47px;
      padding-left: 53px;
    }
  }

  .page-header--opened {
    & .page-header__logo-icon {
      fill: $white;
    }
  }

  .page-header--direction {
    background-color: hsla(229, 46%, 18%, 1);
  }

  .page-header__item--closed {
    display: flex;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__list {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: $white;
    padding: 0;
  }

  .page-header__list--closed {
    display: none;
  }

  .page-header__logo {
    position: relative;
    top: -2px;
    width: 300px;

    &::before {
      position: absolute;
      right: 0;
      top: calc(50% + 2px);
      content: "";
      width: 60px;
      height: 2px;
      background-color: $white;
    }
  }
}
