.protocol {
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding-bottom: 29px;
  padding-top: 16px;
  background-image: url("../../img/protocol/globe-back-mobile.jpg");
  background-color: hsla(228, 41%, 15%, 1);
  background-position: 0 -75px;
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/protocol/globe-back-mobile@2x.jpg");
    background-size: 640px auto;
  }
}

.protocol__social {
  position: relative;
  background-color: $darkgrey;
  margin-top: -20px;
}

.protocol__list {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.protocol__list--row {
  flex-direction: row;
  position: absolute;
  top: -20px;
  left: 0;
}

.protocol__slogan {
  width: 250px;
  min-height: 406px;
  font-size: 36px;
  line-height: 40px;
  margin: 0 auto;
  text-align: center;
  box-sizing: border-box;
}

.protocol__img {
  width: 192px;
  height: 255px;
  padding-left: 80px;
  padding-right: 48px;
}

.protocol__quote {
  margin: 0;
  margin-bottom: 30px;
  padding-top: 48px;
  padding-left: 50px;
  padding-right: 15px;
  background-color: $darkgrey;
}

.protocol__text {
  padding: 0;
  margin: 0;
  font-weight: 300;
  width: 151px;
}

.protocol__auther {
  width: 161px;
  margin-top: 17px;
  margin-bottom: 16px;
}

.protocol__list--step {
  width: 85%;
}

.protocol__item {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  font-size: 18px;
  line-height: 1;
}

.protocol__item--first {
  background-color: $orangefont;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.protocol__item--second {
  background-color: $midlorange;
}

.protocol__item--third {
  background-color: $orange;
}

.protocol__item--fourth {
  background-color: $lightorange;
}

.protocol__item--last {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.protocol__item-text {
  color: $darkfont-color;
  margin: 0;
  padding: 21px 24px 23px;
}

.protocol__number {
  display: flex;
  align-items: center;
  height: auto;
  padding: 22px;
}

@media (min-width: $tablet-width) {
  .protocol {
    background-color: hsla(229, 48%, 18%, 1);
    background-image: url("../../img/protocol/globe-back-tablet.jpg");
    background-repeat: no-repeat;
    background-position: 0 252px;
    padding: 0;
    padding-bottom: 96px;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/protocol/globe-back-mobile@2x.jpg");
      background-size: 1536px auto;
    }
  }

  .protocol__list--step {
    width: 89%;
    min-width: 688px;
  }

  .protocol__slogan {
    width: 428px;
    height: auto;
    min-height: 260px;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    padding: 0;
    padding-top: 27px;
    padding-bottom: 25px;
    margin-bottom: 13px;
    background-image: none;
  }

  .protocol__social {
    display: none;
    background-color: transparent;
  }

  .protocol__quote {
    padding-left: 73px;
    min-height: 365px;
    margin-bottom: 35px;
    background-color: transparent;
  }

  .protocol__text {
    font-size: 28px;
    line-height: 33px;
    width: 270px;
    padding: 0;
  }

  .protocol__auther {
    width: 40%;
    font-size: 21px;
    line-height: 25px;
    margin-top: 47px;
  }

  .protocol__list {
    display: grid;
    grid-template-columns: 1.1fr 1fr;
    padding: 0;
  }

  .protocol__item {
    flex-direction: column;
    padding-left: 32px;
    padding-top: 29px;
    padding-bottom: 23px;
  }

  .protocol__item--first {
    border-top-left-radius: 19px;
    border-top-right-radius: 0;
  }

  .protocol__item--second {
    border-top-left-radius: 19px;
    border-top-right-radius: 19px;
  }

  .protocol__item--third {
    border-bottom-left-radius: 19px;
    border-bottom-right-radius: 0;
  }

  .protocol__item--fourth {
    border-bottom-left-radius: 19px;
    border-bottom-right-radius: 19px;
  }

  .protocol__item-text {
    font-size: 24px;
    line-height: 24px;
    padding: 0;
  }

  .protocol__number {
    font-size: 30px;
    line-height: 1;
    padding: 0;
    margin-top: 10px;
  }
}

@media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
  .protocol__item:nth-of-type(2n) {
    margin-left: -15px;
  }
}

@media (min-width: $desktop-width) {
  .protocol {
    background-color: hsla(228, 40%, 15%, 1);
    background-image: url("../../img/protocol/globe-back-desktop.png");
    background-repeat: no-repeat;
    background-position: bottom;
    padding-top: 97px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 122px;
    display: grid;
    grid-template-columns: 1fr 286px;
    grid-row-gap: 102px;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/protocol/globe-back-desktop@2x.png");
      background-size: 2880px auto;
    }
  }

  .protocol__slogan {
    grid-column: 1/2;
    width: 435px;
    min-height: fit-content;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    text-align: start;
    margin: 0;
    margin-left: 67px;
    padding: 0;
    background-image: none;
  }

  .protocol__social {
    display: none;
  }

  .protocol__quote {
    grid-column: 2/3;
    min-height: fit-content;
    margin: 0;
    padding: 0;
    padding-top: 12px;
    background-color: transparent;
  }

  .protocol__text {
    font-size: 28px;
    line-height: 33px;
    width: 100%;
    padding: 0;
  }

  .protocol__auther {
    width: 100%;
    font-size: 21px;
    line-height: 25px;
    margin-top: 44px;

    & br {
      display: inline-block;
    }
  }

  .protocol__list--step {
    width: 100%;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 1fr 1.1fr 1.1fr 1fr;
  }

  .protocol__item {
    margin: 0;
    position: relative;
    flex-direction: row;
    padding: 0;
    padding-top: 28px;
    padding-bottom: 31px;
    border-radius: 23px;
    padding-right: 33px;
    padding-left: 30px;

    &:not(:last-of-type)::after {
      content: "";
      position: absolute;
      top: 0;
      right: -30px;
      width: 60px;
      height: 100%;
      background-color: inherit;
    }

    &:first-of-type {
      padding-left: 33px;
    }
  }

  .protocol__item-text {
    width: 74%;

    & br {
      display: inline-block;
    }
  }

  .protocol__number {
    font-size: 24px;
    margin: 0;
  }
}
