.social-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.social-list__item:not(:last-child) {
  margin-right: 5px;
}

.social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;

  &:hover {
    opacity: 0.6;
  }

  &:focus-visible,
  &:active {
    opacity: 0.3;
  }
}

.social-list__icon {
  fill: hsla(229, 46%, 18%, 1)
}

.social-list__icon-facebook {
  width: 11px;
  height: auto;
}

.social-list__icon-vkontakte {
  width: 23px;
  height: auto;
}

.social-list__icon-instagram {
  width: 18px;
  height: auto;
}

@media (min-width: $tablet-width) {
  .social-list {
    justify-content: flex-start;
  }

  .social-list__icon-facebook {
    width: 15px;
  }

  .social-list__icon-vkontakte {
    width: 30px;
    margin-top: 4px;
  }

  .social-list__icon-instagram {
    width: 24px;
  }
}
