.step-second {
  padding-bottom: 8px;
}

.step-second__form {
  margin-bottom: 27px;
  box-sizing: border-box;
}

.step-second__field-group:last-of-type {
  margin-bottom: 0;
}

@media (min-width: $tablet-width) {
  .step-second {
    padding-bottom: 68px;
    margin-bottom: 52px;
  }

  .step-second .add-plan__text {
    & br {
      display: none;
    }
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .step-second .add-plan__text {
    padding-right: 100px;
    padding-bottom: 35px;
  }
}

@media (min-width: $desktop-width) {
  .step-second {
    padding-bottom: 96px;

  }
}
