.step {
  width: 79%;
  min-width: 224px;
  font-weight: 400;
  color: hsla(224, 52%, 24%, 1);
  margin: 0 auto;
}

.step__subtitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: hsla(224, 52%, 24%, 1);
}

.step__text {
  color: hsla(0, 0%, 27%, 1);
}

.step__label {
  font-weight: 500;
  line-height: 16px;
}

.step__label--child {
  font-weight: 400;
  font-style: 15px;
  line-height: 15px;
}

.step__input {
  font-weight: 500;
  font-style: 14px;
  line-height: 18px;
}

.step__second {
  padding-bottom: 8px;
}

.step__second-form {
  margin-bottom: 27px;
  box-sizing: border-box;
}

.step__second-field-group:last-of-type {
  margin-bottom: 0;
}

@media (min-width: $tablet-width) {
  .step__subtitle {
    font-size: 36px;
  }

  .step {
    width: 85%;
    min-width: 538px;
  }

  .step__second {
    min-width: 534px;
    padding-bottom: 68px;
    margin-bottom: 52px;
  }

  .step__second .add-plan__text {
    padding-right: 100px;
    padding-bottom: 35px;

    & br {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .step__second {
    padding-bottom: 96px;

  }
}
