.step-first {
  padding-bottom: 23px;
}

@media (min-width: $tablet-width) {
  .step-first {
    padding-bottom: 56px;
    margin-bottom: 40px;
  }
}

@media (min-width: $desktop-width) {
  .step-first {
    padding-bottom: 102px;
    margin-bottom: 44px;
  }
}
