.table-calendar {
  font-size: 14px;
  line-height: 18px;
  color: hsla(224, 52%, 24%, 1);
  background-color: transparent;
  border-collapse: collapse;
}

.table-calendar__row-desctop {
  display: none;
}

.table-calendar__cell-day {
  color: hsla(0, 0%, 27%, 1);
  border: none;
  background-color: transparent;
  height: 30px;
}

.table-calendar__cell-weekend {
  color: hsla(16, 100%, 57%, 1);
  border: none;
  background-color: transparent;
}

.table-calendar__cell {
  font-weight: 500;
  height: 27px;
  border: 2px solid hsla(227, 16%, 82%, 1);
  text-align: center;
  background-color: hsla(229, 24%, 87%, 1);
}

.table-calendar__cell-check-in {
  display: none;
}

.table-calendar__cell-departure {
  display: none;
}

.table-calendar__cell--hover {
  position: relative;

  &::after {
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    content: "";
    border: 2px solid #FF5C23;
  }
}

.table-calendar__cell--active {
  color: $white;
  background-color: hsla(224, 52%, 24%, 1);
}

.table-calendar__cell--inactive {
  background-color: transparent;
  color: hsla(0, 0%, 27%, 0.3);
  font-weight: 400;
}

.table-calendar__cell-number {
  & .table-calendar__cell-mounth {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .table-calendar {
    margin-bottom: 46px;
  }

  .table-calendar__cell-day {
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    height: 35px;
  }

  .table-calendar__cell {
    height: 65px;
  }
}

@media (min-width: $desktop-width) {
  .table-calendar {
    margin-bottom: 0;
  }

  .table-calendar__row {
    display: none;
  }

  .table-calendar__row-desctop {
    display: table-row;
  }

  .table-calendar__cell-day {
    height: 55px;
    text-align: left;
    width: 142px;
    padding-left: 17px;
    box-sizing: border-box;
  }

  .table-calendar__cell {
    height: 71px;
    width: 142px;
    text-align: left;
    font-size: 18px;
    padding-left: 14px;
    box-sizing: border-box;
    vertical-align: top;
    padding-top: 12px;
  }

  .table-calendar__cell-weekend {
    text-align: left;
    font-size: 18px;
    padding-left: 15px;
  }

  .table-calendar__cell-number {
    & .table-calendar__cell-mounth {
      display: inline-block;
    }
  }

  .table-calendar__cell--active {
    line-height: 20px;
    font-weight: 400;
    padding-top: 8px;

    & .table-calendar__cell-check-in {
      display: block;
      margin-top: 8px;
    }
  }

  .table-calendar__cell--active {
    & .table-calendar__cell-departure {
      display: block;
      margin-top: 8px;
    }
  }
}
