.tariff {
  position: relative;
  width: 85%;
  line-height: 16px;
  color: $darkfont-color;
  display: grid;
  grid-template-columns: 1fr min-content;
  padding-top: 35px;
  padding-bottom: 23px;
  padding-left: 25px;
  margin: 0 auto;
  box-sizing: border-box;
}

.tariff__slogan {
  grid-column: 1/2;
  width: 107px;
  color: $orangefont;
  font-size: 24px;
  line-height: 1;
  margin: 0;
  margin-top: 15px;
}

.tariff__rates {
  grid-column: 2/3;
  width: 100px;
  height: 100px;
  background-image: url("../../img/tariff/rates.png");
  background-repeat: no-repeat;
  background-color: inherit;
}

.tariff__list {
  grid-column: 1/3;
  grid-row: 2/3;
  margin: 0;
  margin-top: 29px;
  margin-bottom: 13px;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

.tariff__item {
  font-weight: 300;
  color: hsla(0, 0%, 27%, 1);
}

.tariff__number {
  font-weight: 400;
  color: hsla(0, 0%, 100%, 1);
}

.tariff__business-block {
  grid-column: 1/3;
  display: flex;
  justify-content: flex-start;
}

.tariff__business-small {
  display: none;
  width: 68px;
  height: 68px;
  justify-content: center;
  align-items: center;
  background-color: hsla(229, 38%, 92%, 1);
  border-radius: 50%;
}

.tariff__business-icon {
  fill: hsla(229, 72%, 27%, 1);
  width: 27px;
  height: 27px;
}

.business-block__popover {
  display: none;
}


.tariff__link {
  color: hsla(229, 72%, 27%, 1);
  cursor: pointer;

  &:hover .tariff__business-desc,
  &:focus .tariff__business-desc,
  &:hover .tariff__business-icon,
  &:focus .tariff__business-icon {
    opacity: 0.7;
  }

  &:active .tariff__business-desc,
  &:active .tariff__business-icon {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .tariff {
    width: 90%;
    padding: 0;
    padding-top: 55px;
    padding-bottom: 47px;
  }

  .tariff__slogan {
    grid-column: 1/-1;
    font-size: 45px;
    line-height: 45px;
    width: 100%;
    text-align: center;
  }

  .tariff__rates {
    grid-row: 3/4;
    margin-right: 47px;
    margin-top: -23px;
  }

  .tariff__list {
    margin-top: 31px;
    padding-top: 41px;
    padding-bottom: 41px;
  }

  .tariff__business-block {
    grid-row: 3/4;
    grid-column: 1/2;
    margin-top: -27px;
  }

  .tariff__link {
    display: flex;
    align-items: center;
    font-size: 20px;
    line-height: 20px;
    font-weight: 700px;
    color: hsla(229, 72%, 27%, 1);
  }

  .tariff__business-small {
    display: flex;
    margin-right: 20px;
  }

  .tariff__business-desc {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .tariff {
    width: 82%;
    padding-bottom: 165px;
    padding-top: 103px;
  }

  .tariff__slogan {
    margin: 0;
    margin-bottom: 87px;
  }

  .tariff__list {
    grid-column: 1/2;
    margin: 0;
    padding-top: 48px;
    padding-bottom: 50px;
    padding-right: 79px;

    &::after {
      width: 446px;
      right: -83px;
    }
  }

  .tariff__rates {
    margin: 0;
    width: 198px;
    height: 198px;
    grid-row: 2/3;
    align-self: center;
    justify-self: center;
  }

  .tariff__business-block {
    margin-top: -20px;
  }

  .tariff__business-desc {
    margin-right: 22px;
  }
}
