.tariff-list__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tariff-list__wrapper {
  position: relative;
  flex-grow: 1;
  box-sizing: border-box;
  padding-top: 14px;
  padding-bottom: 16px;
  margin: 0;
  display: grid;
  grid-row-gap: 5px;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 1px;
    background-color: hsla(225, 15%, 90%, 1);
  }
}

.tariff-list__text {
  margin: 0;
}

.tariff-list__number {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  margin-top: 6px;
  border-radius: 50%;
  align-self: start;
}

.tariff-list__number--first {
  background-color: $darkorange;
}

.tariff-list__number--second {
  background-color: $midlorange;
}

.tariff-list__number--third {
  background-color: $orange;
}


@media (min-width: $tablet-width) {
  .tariff-list {
    position: relative;

    &::after {
      position: absolute;
      top: 0;
      right: 0;
      width: 198px;
      height: 100%;
      background-color: hsla(229, 38%, 92%, 1);
      content: "";
      z-index: -1;
      border-radius: 20px;
    }
  }

  .tariff-list__item {
    font-size: 28px;
    line-height: 28px;
    justify-content: start;
  }

  .tariff-list__number {
    width: 68px;
    height: 68px;
    margin: 0;
    margin-right: 22px;
  }

  .tariff-list__wrapper {
    margin: 0;
    padding: 0;
    grid-template-columns: 1fr auto;
    order: 1;
    grid-row-gap: 0;
  }

  .tariff-list__text-therm {
    flex-grow: 1;
    padding-top: 18px;
    padding-bottom: 19px;
    align-self: center;
  }

  .tariff-list__text-definition {
    align-self: center;
    min-width: 198px;
    text-align: center;
    background-color: hsla(229, 38%, 92%, 1);
  }
}

@media (min-width: $desktop-width) {
  .tariff-list__text-definition {
    min-width: fit-content;
    margin-right: 74px;
  }
}

