.travel-direction {
  width: 85%;
  color: hsla(0, 0%, 27%, 1);
  margin: 0 auto;
  padding-bottom: 36px;
  padding-top: 70px;
  box-sizing: border-box;
}

.travel-direction__title {
  margin: 0;
  padding: 0;
  padding-left: 25px;
  color: $orangefont;
  font-size: 24px;
  line-height: 24px;
}

.travel-direction__desc {
  width: 200px;
  font-weight: 300;
  margin: 0;
  margin-top: 19px;
  margin-bottom: 61px;
  padding: 0;
  padding-left: 25px;
}

.travel-direction__list {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
}

.travel-direction__item {
  margin: 0;
  padding: 0;
}

.travel-direction__item:not(:last-of-type) {
  list-style: none;
  margin-bottom: 11px;
}

.travel-direction__button {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  font-size: 18px;
  line-height: 18px;
  padding-left: 22px;
  padding-right: 40px;
  padding-top: 22px;
  padding-bottom: 18px;
  border-radius: 10px;
  background-color: $orange-background;
}

@media (min-width: $tablet-width) {
  .travel-direction {
    width: 81%;
    padding-top: 70px;
    padding-bottom: 81px;
  }

  .travel-direction__list {
    margin-bottom: 44px;
  }

  .travel-direction__item {
    width: 100%;
    flex-direction: row;
  }

  .travel-direction__item:not(:last-of-type) {
    margin-bottom: 10px;
  }

  .travel-direction__title {
    font-size: 45px;
    line-height: 45px;
    padding: 0;
  }

  .travel-direction__desc {
    width: 344px;
    font-size: 28px;
    line-height: 33px;
    margin: 0;
    padding: 0;
    margin-left: 2px;
    margin-top: 58px;
    margin-bottom: 106px;
  }

  .travel-direction__button {
    font-size: 24px;
    line-height: 24px;
    padding-top: 28px;
    padding-left: 33px;
    padding-bottom: 28px;
  }
}

@media (min-width: $desktop-width) {
  .travel-direction {
    display: grid;
    grid-template-columns: 559px 1fr;
    grid-template-rows: min-content;
    column-gap: 171px;
    padding-top: 162px;
    padding-bottom: 101px;
  }

  .travel-direction__title {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .travel-direction__desc {
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 0;
  }

  .travel-direction__list {
    grid-column: 1/2;
    grid-row: 1/4;
  }

  .travel-direction__button {
    grid-column: 2/3;
    grid-row: 3/4;
    align-self: center;
    width: fit-content;
    padding-right: 100px;
    border-radius: 20px;
  }
}
