.wrapper {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.wrapper--stats {
  margin-top: $mobile-stats-shift;
  padding-top: -$mobile-stats-shift;
}

.wrapper--stats-inner {
  margin-top: $mobile-stats-shift-inner;
  padding-top: -$mobile-stats-shift-inner;
}

.wrapper--border {
  border-bottom-left-radius: $mobile-border-shift;
  border-bottom-right-radius: $mobile-border-shift;
}

.wrapper--border-top {
  border-top-right-radius: $mobile-border-shift;
  border-top-left-radius: $mobile-border-shift;
}

.wrapper--about-us {
  background-color: $darkgrey;
  background-image: url("../img/about-us/background-mobile.png");
  background-repeat: no-repeat;
  background-position: 20px 10px;
  z-index: 10;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/about-us/background-mobile@2x.png");
    background-size: 292px auto;
  }
}

.wrapper--travel-direction {
  background-color: $lightgrey;
  z-index: 9;
}

.wrapper--companion {
  background-color: $darkgrey;
  background-image: url("../img/companion/background-mobile.png");
  background-position-y: 64px;
  background-repeat: no-repeat;
  z-index: 8;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/companion/background-mobile@2x.png");
    background-size: 295px auto;
  }
}

.wrapper--tariff {
  background-color: $lightgrey;
  z-index: 7;
}

.wrapper--interested {
  background-color: hsla(229, 46%, 18%, 1);
  z-index: 6;
}

.wrapper--location {
  background-color: $orange-background;
  z-index: 5;
}

.wrapper--plans {
  background-color: $grey;
  padding-bottom: 58px;
}

.wrapper--add-plan {
  background-color: hsla(227, 37%, 88%, 1);
  z-index: 3;
  padding-bottom: 100px;
  margin-top: -28px;
  padding-top: 28px;
}

.wrapper__step {
  background-color: $white;
  border-radius: 11px;
  margin-bottom: 51px;

  &:first-of-type {
    margin-bottom: 39px;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) {
  .wrapper--stats {
    margin-top: $tablet-stats-shift;
    padding-top: -$tablet-stats-shift;
  }

  .wrapper--stats-inner {
    margin-top: $tablet-stats-shift;
    padding-top: -$tablet-stats-shift;
  }

  .wrapper--border {
    border-bottom-left-radius: $tablet-border-shift;
    border-bottom-right-radius: $tablet-border-shift;
  }

  .wrapper--about-us {
    background-color: hsla(229, 48%, 18%, 1);
    background-image: url("../img/about-us/background-tablet.png");
    background-position: 40px 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/about-us/background-tablet@2x.png");
      background-size: 720px auto;
    }
  }

  .wrapper--plans {
    padding-bottom: 59px;
  }

  .wrapper--add-plan {
    margin-top: -50px;
    padding-top: 50px;
    padding-bottom: 68px;
  }

  .wrapper--travel-direction {
    background-image: url("../img/direction/background-tablet.png");
    background-repeat: no-repeat;
    background-position: 39px 130px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/direction/background-tablet@2x.png");
      background-size: 688px auto;
    }
  }

  .wrapper--companion {
    background-image: url("../img/companion/background-tablet.png");
    background-position: 41px 94px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/companion/background-tablet@2x.png");
      background-size: 654px auto;
    }
  }

  .wrapper__step {
    border-radius: 32px;
  }
}

@media (min-width: $desktop-width) {
  .wrapper--header-opened {
    background-color: $darkgrey;

    & .page-header__logo-icon {
      fill: $white;
    }
  }

  .wrapper--stats {
    margin-top: $desctop-stats-shift;
    padding-top: -$desctop-stats-shift;
  }

  .wrapper--stats-inner {
    margin-top: $desctop-stats-shift;
    padding-top: -$desctop-stats-shift + 1px;
  }

  .wrapper--border {
    border-bottom-left-radius: $desctop-border-shift;
    border-bottom-right-radius: $desctop-border-shift;
  }

  .wrapper--border-top {
    border-top-right-radius: $desctop-border-shift;
    border-top-left-radius: $desctop-border-shift;
  }

  .wrapper--about-us {
    background-color: $darkfont-color;
    background-image: url("../img/about-us/backgroun-desktop.png");
    background-position: bottom right 60px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/about-us/background-desktop@2x.png");
      background-size: 1320px auto;
    }
  }

  .wrapper--travel-direction {
    background-image: url("../img/direction/background-desktop.png");
    background-repeat: no-repeat;
    background-position: 60px 158px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/direction/background-desktop@2x.png");
      background-size: 1320px auto;
    }
  }

  .wrapper--companion {
    background-image: url("../img/companion/background-desktop.png");
    background-position: 60px 140px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/companion/background-desktop@2x.png");
      background-size: 630px auto;
    }
  }

  .wrapper--add-plan {
    padding-bottom: 144px;
    padding-top: 51px;
  }

  .wrapper--plans {
    padding-bottom: 115px;
  }
}
