img {
  height: auto;
  max-width: 100%;
  object-fit: contain;
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

input,
textarea {
  outline: none;
}

input:active,
textarea:active {
  outline: none;
}

input:focus,
textarea:focus {
  outline: none;
}

textarea {
  resize: none;
  overflow: hidden;
}

input {
  all: unset;
  appearance: none;
}

.input[type] {
  display: inline-block;
  appearance: none;
  box-sizing: border-box;
}
