$darkorange: hsla(27, 100%, 59%, 1);
$midlorange: hsla(34, 100%, 59%, 1);
$orange: hsla(41, 100%, 59%, 1);
$lightorange: hsla(47, 100%, 65%, 1);

$darkgrey: hsla(228, 41%, 15%, 1);
$lightgrey: hsla(227, 33%, 95%, 1);
$grey: hsla(229, 38%, 92%, 1);
$orange-background: hsla(47, 100%, 65%, 1);
$white: hsla(0, 0%, 100%, 1);

$darkfont-color: hsla(229, 46%, 18%, 1);
$lightfont-color: hsla(0, 0%, 100%, 1);
$orangefont: hsla(27, 100%, 59%, 1);

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
$tablet-width-only: 1439px;

// отступы
$mobile-stats-shift: -30px;
$mobile-stats-shift-inner: -26px;
$tablet-stats-shift: -50px;
$desctop-stats-shift: -70px;

// радиус
$mobile-border-shift: 30px;
$tablet-border-shift: 58px;
$desctop-border-shift: 58px;

